# Show the correlations using the location informations and the prices.

In [7]:
import pandas as pd

try:
    barcelona_location = pd.read_csv('/workspaces/Coworking/src/results/Barcelona/LocationCoworking.csv')
    print('File correct exported!')
except Exception as e:
    print('Fallo inesperado')
    
barcelona_location

File correct exported!

,Name,Neighboorhood,Population,Percentage of Population between 16 and 64 years,ForeingPopulation,Unemployes,Household average net rent,Metro,Unnamed: 8
0,Betahaus | Coworking Barcelona,Gràcia,123.000,0.666,0.224,0.051,23.868,1,NaN
1,OneCoWork Plaça Catalunya | Barcelona Coworking,Ciutat Vella,45.671,0.749,0.510,0.083,12.512,5,NaN
2,OneCoWork Catedral | Barcelona Coworking,Ciutat Vella,45.671,0.749,0.510,0.083,12.512,5,NaN
3,Coworking space Camaleó,Ciutat Vella,45.671,0.749,0.510,0.083,12.512,3,NaN
4,La Vaca Coworking Barcelon,Sants-Montjuic,40.157,0.630,0.340,0.050,0.000,2,NaN

In [6]:
import pandas as pd

try:
    barcelona_prices = pd.read_csv('/workspaces/Coworking/src/results/Barcelona/PreciosCoworking.csv')
    print('File correct exported!')
except Exception as e:
    print('Fallo inesperado')
    
print(barcelona_prices)

File correct exported!
                                              Name  Daily Price  Fix Desk
0                   Betahaus | Coworking Barcelona           20       275
1  OneCoWork Plaça Catalunya | Barcelona Coworking           25       235
2         OneCoWork Catedral | Barcelona Coworking           25       265
3                          Coworking space Camaleó           25       200
4                      La Vaca Coworking Barcelona           22       240

In [8]:
merge_data = pd.merge(barcelona_location, barcelona_prices, on='Name', how='inner')

merge_data.head()

,Name,Neighboorhood,Population,Percentage of Population between 16 and 64 years,ForeingPopulation,Unemployes,Household average net rent,Metro,Unnamed: 8,Daily Price,Fix Desk
0,Betahaus | Coworking Barcelona,Gràcia,123.000,0.666,0.224,0.051,23.868,1,NaN,20,275
1,OneCoWork Plaça Catalunya | Barcelona Coworking,Ciutat Vella,45.671,0.749,0.510,0.083,12.512,5,NaN,25,235
2,OneCoWork Catedral | Barcelona Coworking,Ciutat Vella,45.671,0.749,0.510,0.083,12.512,5,NaN,25,265
3,Coworking space Camaleó,Ciutat Vella,45.671,0.749,0.510,0.083,12.512,3,NaN,25,200