In [3]:
# Try reading the file with more flexibility in delimiters and errors
file_path = '/workspaces/Coworking/src/results/LocationPLaces.csv'
with open(file_path, "r", encoding="utf-8") as file:
    location_places = file.readlines()  # Read the first 20 lines to inspect

location_places

['name,Neightboorhood,Population,Median Household Income,People Between 18 and 64,Transport,Day Pass,Month Pass\n',
 'Basis Point Shinbashi,Shinbashi,100000,6500000,65000,4,2500,40000\n',
 'Pasela Co-work Higashishinjuku,Higashishinjuku,25000,4500000,16250,3,2000,30000\n',
 'AWS Startup Loft Tokyo,Akasaka,50000,7000000,32500,3,3000,45000\n',
 'LULL TECH BEACH shibuya coworking space,Shibuya,230000,5500000,149500,3,3000,40000\n',
 '【法人登記可】コワーキングスペースfactoria nishiogi,Nishiogi,80000,4200000,52000,3,2000,30000\n',
 'name,Neightboorhood,Population,Median Household Income,People Between 18 and 64,Transport,Day Pass,Month Pass\n',
 'WORKVILLE,Midtown,58789,192347,0.7,6,49,300\n',
 'Rise New York,Midtown,58789,192347,0.7,6,,250\n',
 'The Farm SoHo NYC,SoHo,11675,175209,0.7,4,29,179\n',
 'OASIS by Workville,Midtown,58789,192347,0.7,6,49,350\n',
 'The New Work Project,Williansburg,138.98,97.432,0.6,2,40,370\n',
 'name,Neightboorhood,Population,Percentage of population between 16 and 64 years,ForeignPopulation,Unemployes,Household average net rent,Metro,Closest bus stop,Mesa Fija,Mesa Flexible,Despacho Priado,Pases/Bonos (días)\n',
 'Talent Garden Madrid ,Delicias,28575,"69,3%",13.00%,962,45392,6,900m,285,195,400,20\n',
 'Freeland Cowork,Adelfas,18832,"64,6 %","8,6 %",591,50837,5,150m,150,95,375,20\n',
 'LOOM Huertas,Cortes,10816,"76,4%","28,4%",438,40008,10,110m,275,275,275,275\n',
 'EslabOn,Opañel,33883,"68,7%",25.00%,1619,30853,4,140m,179,139,300,15\n',
 'Area,Delicias,28575,"69,3%",13.00%,962,45392,4,270m,240,180,1000,20\n',
 'Name,Neighboorhood,Population,Percentage of Population between 16 and 64 years,ForeingPopulation,Unemployes,Household average net rent,Metro,\n',
 'Betahaus | Coworking Barcelona,Gràcia,123.000,0.666,0.224,0.051,23.868,1\n',
 'OneCoWork Plaça Catalunya | Barcelona Coworking,Ciutat Vella,45.671,0.749,0.51,0.083,12.512,5\n',
 'OneCoWork Catedral | Barcelona Coworking,Ciutat Vella,45.671,0.749,0.51,0.083,12.512,5\n',
 'Coworking space Camaleó,Ciutat Vella,45.671,0.749,0.51,0.083,12.512,3\n',
 'La Vaca Coworking Barcelona,Sants-Montjuic,40.157,0.63,0.34,0.05,0,2']

In [5]:
import numpy as np

# List to store cleaned data
cleaned_data = []

# Standardized column names
standard_columns = [
    "Name", "Neighborhood", "Population", "Median Household Income", "People Between 18 and 64",
    "Transport", "Day Pass", "Month Pass", "Foreign Population", "Unemployed", 
    "Household Average Net Rent", "Metro", "Closest Bus Stop", "Fixed Desk", 
    "Flexible Desk", "Private Office", "Passes"
]

# Process each line while skipping headers
for line in location_places:
    if "name" in line.lower():  # Skip headers
        continue
    values = line.strip().split(",")
    
    # Ensure all rows have the same number of columns by filling missing values
    values += [np.nan] * (len(standard_columns) - len(values))

    cleaned_data.append(values[:len(standard_columns)])

# Convert to DataFrame
df_cleaned = pd.DataFrame(cleaned_data, columns=standard_columns)

# Display cleaned DataFrame
df_cleaned

,Name,Neighborhood,Population,Median Household Income,People Between 18 and 64,Transport,Day Pass,Month Pass,Foreign Population,Unemployed,Household Average Net Rent,Metro,Closest Bus Stop,Fixed Desk,Flexible Desk,Private Office,Passes
0,Basis Point Shinbashi,Shinbashi,100000,6500000,65000,4,2500,40000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pasela Co-work Higashishinjuku,Higashishinjuku,25000,4500000,16250,3,2000,30000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AWS Startup Loft Tokyo,Akasaka,50000,7000000,32500,3,3000,45000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LULL TECH BEACH shibuya coworking space,Shibuya,230000,5500000,149500,3,3000,40000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,【法人登記可】コワーキングスペースfactoria nishiogi,Nishiogi,80000,4200000,52000,3,2000,30000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,WORKVILLE,Midtown,58789,192347,0.7,6,49,300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Rise New York,Midtown,58789,192347,0.7,6,,250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,The Farm SoHo NYC,SoHo,11675,175209,0.7,4,29,179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,OASIS by Workville,Midtown,58789,192347,0.7,6,49,350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,The New Work Project,Williansburg,138.98,97.432,0.6,2,40,370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Talent Garden Madrid,Delicias,28575,"""69","3%""",13.00%,962,45392,6,900m,285,195,400,20,NaN,NaN,NaN
11,Freeland Cowork,Adelfas,18832,"""64","6 %""","""8","6 %""",591,50837,5,150m,150,95,375,20,NaN,NaN
12,LOOM Huertas,Cortes,10816,"""76","4%""","""28","4%""",438,40008,10,110m,275,275,275,275,NaN,NaN
13,EslabOn,Opañel,33883,"""68","7%""",25.00%,1619,30853,4,140m,179,139,300,15,NaN,NaN,NaN
14,Area,Delicias,28575,"""69","3%""",13.00%,962,45392,4,270m,240,180,1000,20,NaN,NaN,NaN
15,Betahaus | Coworking Barcelona,Gràcia,123.000,0.666,0.224,0.051,23.868,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,OneCoWork Plaça Catalunya | Barcelona Coworking,Ciutat Vella,45.671,0.749,0.51,0.083,12.512,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,OneCoWork Catedral | Barcelona Coworking,Ciutat Vella,45.671,0.749,0.51,0.083,12.512,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Coworking space Camaleó,Ciutat Vella,45.671,0.749,0.51,0.083,12.512,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,La Vaca Coworking Barcelona,Sants-Montjuic,40.157,0.63,0.34,0.05,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN