# Analyzing coworking space in Barcelona.

In [2]:
import pandas as pd

barcelona_places = pd.read_csv('/workspaces/Coworking/src/results/BarcelonaPlaces.csv')

barcelona_places.head()

,Name,Address,Latitude,Longitude,Price Level,Rating,User Rating Count
0,Betahaus | Coworking Barcelona,"Carrer de Vilafranca, 7, Gràcia, 08024 Barcelo...",41.406983,2.156765,NaN,4.8,388
1,OneCoWork Plaça Catalunya | Barcelona Coworking,"Carrer d'Estruc, 9, Ciutat Vella, 08002 Barcel...",41.386887,2.172505,NaN,4.8,310
2,La Vaca Coworking Barcelona,"Carrer de la Creu dels Molers, 19, Sants-Montj...",41.374110,2.161943,NaN,4.8,185
3,MOB Bailén - Coworking in Barcelona,"Carrer de Bailèn, 11, L'Eixample, 08010 Barcel...",41.391740,2.177145,NaN,4.6,204
4,Kubik Barcelona,"Carrer de Luis Antúnez, 6, Gràcia, 08006 Barce...",41.398776,2.155823,NaN,4.7,48

In [3]:
barcelona_places.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               20 non-null     object
 1   Address            20 non-null     object
 2   Latitude           20 non-null     float64
 3   Longitude          20 non-null     float64
 4   Price Level        0 non-null      float64
 5   Rating             20 non-null     float64
 6   User Rating Count  20 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.2+ KB

In [4]:
barcelona_places = barcelona_places.drop(columns='Price Level', axis=1)

barcelona_places.describe()

        Latitude  Longitude     Rating  User Rating Count
count  20.000000  20.000000  20.000000          20.000000
mean   41.391058   2.171884   4.720000         125.850000
std     0.010716   0.014832   0.223842         102.336532
min    41.368884   2.151855   4.200000          11.000000
25%    41.384225   2.158007   4.700000          47.750000
50%    41.393215   2.172121   4.800000          82.000000
75%    41.397495   2.177422   4.825000         189.750000
max    41.409976   2.204478   5.000000         388.000000

In [6]:
barcelona_places = barcelona_places[barcelona_places['User Rating Count'] != 0]

barcelona_places.shape

(20, 6)

In [7]:
try:
    barcelona_places.to_csv('BarcelonaPlaces.csv', index=False, encoding="utf-8-sig")
    print("✅ Datos guardados en BarcelonaPlaces.csv")
except Exception as e:
    print(f"❌ Error inesperado al guardar el archivo: {e}")

✅ Datos guardados en BarcelonaPlaces.csv