# Analyzing coworking space in Tokyo.

In [1]:
import pandas as pd

barcelona_places = pd.read_csv('/workspaces/Coworking/src/results/Tokyo/TokyoPLaces.csv')

barcelona_places.head()

,Name,Address,Latitude,Longitude,Price Level,Rating,User Rating Count
0,WeWork Shibuya Scramble Square,"39F, Shibuya-ku, ２丁目-２４-12 渋谷 渋谷区 東京都 150-6139...",35.658411,139.702241,NaN,4.2,82
1,Tokyo Chapter - ninetytwo13,"9-chōme-2-13 Akasaka, Minato City, Tokyo 107-0...",35.668048,139.732122,NaN,4.4,25
2,.andwork shibuya,"Japan, 〒150-0041 Tokyo, Shibuya, Jinnan, 1-chō...",35.662215,139.699634,NaN,4.0,28
3,CASE Shinjuku,"Japan, 〒169-0075 Tokyo, Shinjuku City, Takadan...",35.712093,139.704739,NaN,4.3,65
4,WeWork TOKYO SQUARE GARDEN,"14F, ３丁目-１-1 京橋 中央区 東京都 104-0031, Japan",35.676115,139.768664,NaN,4.2,43

In [2]:
barcelona_places.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               20 non-null     object
 1   Address            20 non-null     object
 2   Latitude           20 non-null     float64
 3   Longitude          20 non-null     float64
 4   Price Level        0 non-null      float64
 5   Rating             20 non-null     float64
 6   User Rating Count  20 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.2+ KB

In [3]:
barcelona_places = barcelona_places.drop(columns='Price Level', axis=1)

barcelona_places.describe()

        Latitude   Longitude     Rating  User Rating Count
count  20.000000   20.000000  20.000000           20.00000
mean   35.672721  139.718120   4.395000           88.35000
std     0.028017    0.042337   0.318673           80.57966
min    35.624772  139.600860   4.000000           13.00000
25%    35.658359  139.702733   4.175000           41.50000
50%    35.666587  139.708788   4.300000           62.50000
75%    35.693671  139.734410   4.625000           92.25000
max    35.732627  139.802646   4.900000          328.00000

In [4]:
barcelona_places = barcelona_places[barcelona_places['User Rating Count'] != 0]

barcelona_places.shape

(20, 6)

In [5]:
try:
    barcelona_places.to_csv('TokyoPLaces.csv', index=False, encoding="utf-8-sig")
    print("✅ Datos guardados en TokyoPLaces.csv")
except Exception as e:
    print(f"❌ Error inesperado al guardar el archivo: {e}")

✅ Datos guardados en TokyoPLaces.csv