# Analyzing coworking space in NYC.

In [1]:
import pandas as pd

barcelona_places = pd.read_csv('/workspaces/Coworking/src/results/New York/New_York_Places.csv')

barcelona_places.head()

,Name,Address,Latitude,Longitude,Price Level,Rating,User Rating Count
0,"WORKVILLE - Flexible Office Space, Conference ...","1412 Broadway 21st Floor, New York, NY 10018, USA",40.753615,-73.986561,NaN,5.0,349
1,The Farm SoHo NYC - Coworking Office Space and...,"447 Broadway 2nd floor, New York, NY 10013, USA",40.720573,-74.001415,NaN,4.5,257
2,Nomadworks,"1216 Broadway, New York, NY 10001, USA",40.746495,-73.988261,NaN,4.5,182
3,Rise New York,"43 W 23rd St, New York, NY 10010, USA",40.742465,-73.991176,NaN,4.7,258
4,Coworking @ Industry City,"237 36th St, Brooklyn, NY 11232, USA",40.656528,-74.007756,NaN,4.8,65

In [2]:
barcelona_places.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               20 non-null     object
 1   Address            20 non-null     object
 2   Latitude           20 non-null     float64
 3   Longitude          20 non-null     float64
 4   Price Level        0 non-null      float64
 5   Rating             20 non-null     float64
 6   User Rating Count  20 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.2+ KB

In [3]:
barcelona_places = barcelona_places.drop(columns='Price Level', axis=1)

barcelona_places.describe()

        Latitude  Longitude    Rating  User Rating Count
count  20.000000  20.000000  20.00000          20.000000
mean   40.730629 -73.988087   4.75000         114.050000
std     0.029097   0.020540   0.19868          87.243443
min    40.656528 -74.013169   4.40000          26.000000
25%    40.711453 -74.003000   4.57500          55.750000
50%    40.731733 -73.989537   4.75000          80.500000
75%    40.753412 -73.979386   4.90000         135.000000
max    40.779457 -73.938367   5.00000         349.000000

In [4]:
barcelona_places = barcelona_places[barcelona_places['User Rating Count'] != 0]

barcelona_places.shape

(20, 6)

In [5]:
try:
    barcelona_places.to_csv('NYC_PLaces.csv', index=False, encoding="utf-8-sig")
    print("✅ Datos guardados en NYC_Places.csv")
except Exception as e:
    print(f"❌ Error inesperado al guardar el archivo: {e}")

✅ Datos guardados en NYC_Places.csv