# Create a score for each place based on the rating count and the rate of each.

In [ ]:
import pandas as pd

try:
    Tokyo_Places = pd.read_csv('/workspaces/Coworking/src/results/Tokyo/TokyoPLaces.csv')
    print('File correct exported!')
except Exception as e:
    print(f"❌ Error inesperado al guardar el archivo: {e}")
    
Tokyo_Places.head()

File correct exported!

,Name,Address,Latitude,Longitude,Rating,User Rating Count
0,WeWork Shibuya Scramble Square,"39F, Shibuya-ku, ２丁目-２４-12 渋谷 渋谷区 東京都 150-6139...",35.658411,139.702241,4.2,82
1,Tokyo Chapter - ninetytwo13,"9-chōme-2-13 Akasaka, Minato City, Tokyo 107-0...",35.668048,139.732122,4.4,25
2,.andwork shibuya,"Japan, 〒150-0041 Tokyo, Shibuya, Jinnan, 1-chō...",35.662215,139.699634,4.0,28
3,CASE Shinjuku,"Japan, 〒169-0075 Tokyo, Shinjuku City, Takadan...",35.712093,139.704739,4.3,65
4,WeWork TOKYO SQUARE GARDEN,"14F, ３丁目-１-1 京橋 中央区 東京都 104-0031, Japan",35.676115,139.768664,4.2,43

In [4]:
def normalize_rating(rating):
    # Normalize the rating to a scale of 0 to 1
    return rating / 5.0  # Assuming ratings are on a scale of 0 to 5

def calculate_score(rating, user_rating_count, rating_weight=0.7, user_rating_count_weight=0.3):
    # Normalize rating and user rating count
    normalized_rating = normalize_rating(rating)
    normalized_user_rating_count = user_rating_count / max_user_rating_count  # Normalize to range [0, 1]

    # Calculate weighted sum
    score = (rating_weight * normalized_rating) + (user_rating_count_weight * normalized_user_rating_count)
    return score

ratings = Tokyo_Places['Rating']
user_rating_counts = Tokyo_Places['User Rating Count']
max_user_rating_count = max(user_rating_counts)  # Maximum user rating count

# Calculate scores for each place
scores = []
for rating, user_rating_count in zip(ratings, user_rating_counts):
    score = calculate_score(rating, user_rating_count)
    scores.append(score)

# Print the scores
for place_name, score in zip(Tokyo_Places['Name'], scores):
    print(f"Place {place_name}: Score = {score}")

Place WeWork Shibuya Scramble Square: Score = 0.6629999999999999
Place Tokyo Chapter - ninetytwo13: Score = 0.6388658536585365
Place .andwork shibuya: Score = 0.5856097560975609
Place CASE Shinjuku: Score = 0.6614512195121951
Place WeWork TOKYO SQUARE GARDEN: Score = 0.6273292682926829
Place 【法人登記可】コワーキングスペースfactoria nishiogi: Score = 0.7289878048780488
Place LULL TECH BEACH shibuya coworking space: Score = 0.7506585365853657
Place Impact HUB Tokyo: Score = 0.6755243902439024
Place RYOZAN PARK 巣鴨（GRAND）: Score = 0.6218414634146341
Place BLINK Roppongi: Score = 0.7189999999999999
Place AWS Startup Loft Tokyo: Score = 0.7729634146341462
Place Pasela Co-work Higashishinjuku: Score = 0.8148292682926829
Place TOKYOシェアオフィス墨田: Score = 0.7037317073170732
Place Gotanda co-working space pao pao: Score = 0.6389390243902439
Place WeWork LINK SQUARE SHINJUKU: Score = 0.6148780487804878
Place SHIBUYA QWS: Score = 0.6693292682926829
Place SYCL by KEIO: Score = 0.697890243902439
Place WeWork Iceberg: Score = 0.7246341463414634
Place Basis Point Shinbashi: Score = 0.9019999999999999
Place S-TOKYO: Score = 0.7106951219512195

In [5]:
import pandas as pd

# Initialize lists to store data
place_names = []
score_values = []

# Iterate over the data and collect into lists
for place_name, score in zip(Tokyo_Places['Name'], scores):
    place_names.append(place_name)
    score_values.append(score)

# Create DataFrame from lists
data = {'Place Name': place_names, 'Score': score_values}
places_score = pd.DataFrame(data)

# Display DataFrame
print(places_score)

                                 Place Name     Score
0            WeWork Shibuya Scramble Square  0.663000
1               Tokyo Chapter - ninetytwo13  0.638866
2                          .andwork shibuya  0.585610
3                             CASE Shinjuku  0.661451
4                WeWork TOKYO SQUARE GARDEN  0.627329
5        【法人登記可】コワーキングスペースfactoria nishiogi  0.728988
6   LULL TECH BEACH shibuya coworking space  0.750659
7                          Impact HUB Tokyo  0.675524
8                     RYOZAN PARK 巣鴨（GRAND）  0.621841
9                            BLINK Roppongi  0.719000
10                   AWS Startup Loft Tokyo  0.772963
11           Pasela Co-work Higashishinjuku  0.814829
12                           TOKYOシェアオフィス墨田  0.703732
13         Gotanda co-working space pao pao  0.638939
14              WeWork LINK SQUARE SHINJUKU  0.614878
15                              SHIBUYA QWS  0.669329
16                             SYCL by KEIO  0.697890
17                           WeWork Iceberg  0.724634
18                    Basis Point Shinbashi  0.902000
19                                  S-TOKYO  0.710695

In [6]:
# Combine names and scores into a DataFrame
score_df = pd.DataFrame({'name': Tokyo_Places['Name'], 'score': scores})

# Sort the DataFrame by score in descending order
sorted_scores = score_df.sort_values(by='score', ascending=False)

# Select the top five places
top_five = sorted_scores.head(5)

# Print the top five places
print("Top five places:")
for idx, row in top_five.iterrows():
    print(f"{row['name']}: Score = {row['score']}")

Top five places:
Basis Point Shinbashi: Score = 0.9019999999999999
Pasela Co-work Higashishinjuku: Score = 0.8148292682926829
AWS Startup Loft Tokyo: Score = 0.7729634146341462
LULL TECH BEACH shibuya coworking space: Score = 0.7506585365853657
【法人登記可】コワーキングスペースfactoria nishiogi: Score = 0.7289878048780488