In [2]:
import pandas as pd

try:
    NewYork_places = pd.read_csv('/workspaces/Coworking/src/results/New York/New_York_Places.csv')
    print('File correct exported!')
except Exception as e:
    print(f"‚ùå Error inesperado al guardar el archivo: {e}")
    
NewYork_places.head()

File correct exported!

,Name,Address,Latitude,Longitude,Price Level,Rating,User Rating Count
0,"WORKVILLE - Flexible Office Space, Conference ...","1412 Broadway 21st Floor, New York, NY 10018, USA",40.753615,-73.986561,NaN,5.0,349
1,The Farm SoHo NYC - Coworking Office Space and...,"447 Broadway 2nd floor, New York, NY 10013, USA",40.720573,-74.001415,NaN,4.5,257
2,Nomadworks,"1216 Broadway, New York, NY 10001, USA",40.746495,-73.988261,NaN,4.5,182
3,Rise New York,"43 W 23rd St, New York, NY 10010, USA",40.742465,-73.991176,NaN,4.7,258
4,Coworking @ Industry City,"237 36th St, Brooklyn, NY 11232, USA",40.656528,-74.007756,NaN,4.8,65