# Create a score for each place based on the rating count and the rate of each.

In [1]:
import pandas as pd

try:
    NewYork_places = pd.read_csv('/workspaces/Coworking/src/results/Tokyo/TokyoPLaces.csv')
    print('File correct exported!')
except Exception as e:
    print(f"❌ Error inesperado al guardar el archivo: {e}")
    
NewYork_places.head()

File correct exported!

,Name,Address,Latitude,Longitude,Rating,User Rating Count
0,WeWork Shibuya Scramble Square,"39F, Shibuya-ku, ２丁目-２４-12 渋谷 渋谷区 東京都 150-6139...",35.658411,139.702241,4.2,82
1,Tokyo Chapter - ninetytwo13,"9-chōme-2-13 Akasaka, Minato City, Tokyo 107-0...",35.668048,139.732122,4.4,25
2,.andwork shibuya,"Japan, 〒150-0041 Tokyo, Shibuya, Jinnan, 1-chō...",35.662215,139.699634,4.0,28
3,CASE Shinjuku,"Japan, 〒169-0075 Tokyo, Shinjuku City, Takadan...",35.712093,139.704739,4.3,65
4,WeWork TOKYO SQUARE GARDEN,"14F, ３丁目-１-1 京橋 中央区 東京都 104-0031, Japan",35.676115,139.768664,4.2,43

In [ ]:
def normalize_rating(rating):
    # Normalize the rating to a scale of 0 to 1
    return rating / 5.0  # Assuming ratings are on a scale of 0 to 5

def calculate_score(rating, user_rating_count, rating_weight=0.7, user_rating_count_weight=0.3):
    # Normalize rating and user rating count
    normalized_rating = normalize_rating(rating)
    normalized_user_rating_count = user_rating_count / max_user_rating_count  # Normalize to range [0, 1]

    # Calculate weighted sum
    score = (rating_weight * normalized_rating) + (user_rating_count_weight * normalized_user_rating_count)
    return score

ratings = NewYork_places['Rating']
user_rating_counts = NewYork_places['User Rating Count']
max_user_rating_count = max(user_rating_counts)  # Maximum user rating count

# Calculate scores for each place
scores = []
for rating, user_rating_count in zip(ratings, user_rating_counts):
    score = calculate_score(rating, user_rating_count)
    scores.append(score)

# Print the scores
for place_name, score in zip(NewYork_places['Name'], scores):
    print(f"Place {place_name}: Score = {score}")

Place WORKVILLE - Flexible Office Space, Conference Center, Coworking & Meeting Room Rental NYC: Score = 1.0
Place The Farm SoHo NYC - Coworking Office Space and Private Offices: Score = 0.8509169054441261
Place Nomadworks: Score = 0.7864469914040114
Place Rise New York: Score = 0.8797765042979943
Place Coworking @ Industry City: Score = 0.7278739255014326
Place WorkHouse NYC: Score = 0.6721203438395416
Place Bond Collective - 60 Broad: Score = 0.7427335243553009
Place OASIS by Workville - Conference Center & Corporate Events, Flex Office, Meeting Space Venue & Rooftop: Score = 0.8392550143266475
Place Workspace by Rockefeller Group: Score = 0.7358567335243553
Place Primary: Score = 0.7620114613180516
Place Croissant: Score = 0.7550143266475644
Place Blender Workspace: Score = 0.7351174785100285
Place Bond Collective - 55 Broadway: Score = 0.7250487106017193
Place The Yard: Lower East Side Coworking Office Space NYC: Score = 0.6643839541547278
Place Bond Collective - Bushwick: Score = 0.7814154727793696
Place The Commons: Score = 0.7089627507163323
Place Carr Workplaces Central Park - Coworking & Office Space: Score = 0.7178051575931232
Place The New Work Project: Score = 0.8083094555873925
Place The Yard: Herald Square Coworking Office Space Manhattan: Score = 0.6873467048710602
Place Based In Coworking and Event Space: Score = 0.6803495702005731

In [ ]:
import pandas as pd

# Initialize lists to store data
place_names = []
score_values = []

# Iterate over the data and collect into lists
for place_name, score in zip(NewYork_places['Name'], scores):
    place_names.append(place_name)
    score_values.append(score)

# Create DataFrame from lists
data = {'Place Name': place_names, 'Score': score_values}
places_score = pd.DataFrame(data)

# Display DataFrame
print(places_score)

                                           Place Name     Score
0   WORKVILLE - Flexible Office Space, Conference ...  1.000000
1   The Farm SoHo NYC - Coworking Office Space and...  0.850917
2                                          Nomadworks  0.786447
3                                       Rise New York  0.879777
4                           Coworking @ Industry City  0.727874
5                                       WorkHouse NYC  0.672120
6                          Bond Collective - 60 Broad  0.742734
7   OASIS by Workville - Conference Center & Corpo...  0.839255
8                      Workspace by Rockefeller Group  0.735857
9                                             Primary  0.762011
10                                          Croissant  0.755014
11                                  Blender Workspace  0.735117
12                      Bond Collective - 55 Broadway  0.725049
13  The Yard: Lower East Side Coworking Office Spa...  0.664384
14                         Bond Collective - Bushwick  0.781415
15                                        The Commons  0.708963
16  Carr Workplaces Central Park - Coworking & Off...  0.717805
17                               The New Work Project  0.808309
18  The Yard: Herald Square Coworking Office Space...  0.687347
19                 Based In Coworking and Event Space  0.680350

In [ ]:
# Combine names and scores into a DataFrame
score_df = pd.DataFrame({'name': NewYork_places['Name'], 'score': scores})

# Sort the DataFrame by score in descending order
sorted_scores = score_df.sort_values(by='score', ascending=False)

# Select the top five places
top_five = sorted_scores.head(5)

# Print the top five places
print("Top five places:")
for idx, row in top_five.iterrows():
    print(f"{row['name']}: Score = {row['score']}")

Top five places:
WORKVILLE - Flexible Office Space, Conference Center, Coworking & Meeting Room Rental NYC: Score = 1.0
Rise New York: Score = 0.8797765042979943
The Farm SoHo NYC - Coworking Office Space and Private Offices: Score = 0.8509169054441261
OASIS by Workville - Conference Center & Corporate Events, Flex Office, Meeting Space Venue & Rooftop: Score = 0.8392550143266475
The New Work Project: Score = 0.8083094555873925